   	* { 
	    direction: rtl;
	    text-align: right;
		}
      body {
        background-color: #fff;
        margin: 0;
        padding: 0;
          background-image: url("../images/MOH-TR.png");
          background-repeat: no-repeat;
          background-position: top right;
          background-size: 50%;
      }
      body > .container {
	      margin-top: 130px;
      }
      h1, h2, h3 {
	      font-family: "GE SS Unique";
		  font-weight: bold;
		  color: #9B945F;
      }
      .container {
        background-color: #fff;
        height: 97vh;
        width: 100%;
        margin: 20px auto;
       /*  border: 2px solid red; */
        /* box-shadow: 0 0 5px red; */
      }
      .fullscreen {
        background-color: #333;
      }
	  .rtl .col-sm {
		  float: right;
	  }
	  .btn-primary {
		  color: #fff;
		  background-color: #008755;
		  border-color: #008755;
	  }
	  .btn-primary:not(:disabled):not(.disabled).active,
	  .btn-primary:not(:disabled):not(.disabled):active,
	  .show>.btn-primary.dropdown-toggle,
	  .btn-primary:hover {
		  color: #fff;
		  background-color: #9B945F;
		  border-color: #9B945F;
	  }
